.icons-nav i, h1 {
    color: #ffc107;
}

.icons-nav i {
    margin-left: 1.5rem;
    font-size: 2rem;
}
.navbar {
    border-bottom: 2px solid #ffc107;
}
#logo {
    width: 30%;
    margin-bottom: 10px;
}